* {
  margin: 0;
  padding: 0;
  color: rgb(244, 244, 244);
  transition: 50ms;
}

:root {
  --timeangle: 120deg;
  --col-background: #101010;
  /* rich-black*/
  --col-sec: rgb(240, 240, 240);
  /*lavender-web*/
  --col-ter: rgb(154, 154, 154);
  /*tropical-indigo*/
  /* --col-prim: #d5aefcff; */
  --col-prim: #b3b3b3;
  /*mauve*/
  --font-prim: "Gorditas", serif;
  --font-sec: "Lexend", sans-serif;
}

header {
  padding: 5px 10px;
  width: calc(100%-20px);
  height: 40px;
  background-color: var(--col-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--col-sec);
  font-size: 25px;

  .logoicon {
    width: 25px;
    height: 25px;
    background-color: var(--col-sec);
    border-radius: 20px;
  }

  .menuicon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#notifcont {
  display: flex;
  align-items: end;
  flex-direction: column;
  right: 0;
  position: fixed;
  z-index: 2;

  .notiferror {
    background-color: rgb(112, 0, 0);
  }

  .notifsuccess {
    background-color: rgb(39, 112, 0);
  }

  .notifalert {
    background-color: rgb(112, 112, 0);
  }

  .notif {
    border-radius: 6px 0px 0px 6px;
    margin: 2px 1px;
    max-width: 200px;

    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

    * {
      margin: 4px;
    }

    span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;


    }

    img {
      height: 16px;
    }
  }
}


#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .maintime {

    margin: 10px 1px;
    width: max-content;
    min-width: 70%;
    padding: 5px;
    /* border: 5px solid var(--col-sec); */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--col-background);


    position: relative;


    &::after {
      content: '';
      position: absolute;

      background: conic-gradient(from var(--timeangle), var(--col-background), var(--col-prim));
      translate: -50% -50%;
      z-index: -1;
      left: 50%;
      top: 50%;
      width: calc(100%);
      height: calc(100%);
      padding: 3px;
      border-radius: 23px;
    }



    span {
      font-size: 90px;
    }
  }
}

.clocklist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  max-height: 55vh;
  overflow-y: scroll;


  .clock {
    width: 200px;
    margin: 5px 0px;
    background-color: rgb(131, 131, 131);
    display: flex;
    height: 50px;

    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 15px 10px;
    border-radius: 18px;

    .clockname {
      padding: 3px 2px 0px;
      font-size: 14px;
      line-height: 10px;
      height: 25px;
      letter-spacing: 0.1rem;
      font-weight: 400;
      width: 90%;
      text-align: center;

    }

    .clockdet {
      display: flex;
      width: 100%;

      align-items: center;
      justify-content: space-between;

      img {
        height: 25px;
      }

      span {
        font-size: 28px;
      }
    }




  }

  .inactiveclock {
    width: 180px;
    margin: 5px 0px;
    background-color: rgba(104, 104, 104, 0.568);
    display: flex;
    height: 50px;


    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px 15px 10px;
    border-radius: 18px;

    .clockname {
      padding: 3px 2px 0px;
      font-size: 14px;
      line-height: 10px;
      height: 25px;
      letter-spacing: 0.1rem;
      font-weight: 400;
      width: 90%;
      text-align: center;
      color: rgba(255, 255, 255, 0.374);
    }

    .clockdet {
      display: flex;
      width: 100%;

      align-items: center;
      justify-content: space-between;

      img {
        height: 22px;
      }

      span {

        font-size: 28px;
      }
    }
  }

  .newclock {
    height: max-content;
    flex-direction: column;
    justify-content: center;
    padding: 8px 8px;
    width: 200px;
    margin: 5px 0px;
    background-color: rgb(131, 131, 131);
    display: flex;
    border-radius: 18px;

    span {
      img {
        height: 30px;
      }
    }

    #newclockform {
      margin: 2px;
      display: none;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;


      input {
        background-color: rgb(79, 79, 79);

        padding: 2px 5px;
        margin: 2px;
        height: 30px;
        border: none;
        border-radius: 8px;
      }

     .formats{
grid-area: 1 / 1 / 2 / 4;
display: grid;
grid-template-columns: repeat(3,1fr);
.format{
    background-color: rgb(79, 79, 79);

        padding: 2px 5px;
        margin: 2px;
        height: 30px;
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
}
      }

      input[type="text"] {
        grid-area: 2 / 1 /3 /4 ;
      }

      input[type="time"] {
        grid-area: 3 / 1 / 4 / 3;
      }

      input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }

      button {
        background-color: rgb(79, 79, 79);

        padding: 2px;
        margin: 2px;
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 18px;
        }
      }

      bottom[types="reset"] {
        grid-area: 3 / 3 / 4 / 4;

      }

      #addclockbtn {
        grid-area: 4 / 2 / 5/4;
        background-color: rgb(225, 225, 225);

        padding: 2px;
        margin: 2px;
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          filter: invert();
          height: 18px;
        }
      }
    }

  }
}

body {
  font-family: "Arvo", serif;
  background-color: var(--col-background);

  height: 600px;
  width: 350px;
  /* border: 1px solid beige; */
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: var(--col-background);
}

::-webkit-scrollbar-thumb {
  height: 4px;
  width: 4px;
  background-color: var(--col-ter);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--col-prim);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--col-ter) var(--col-sec);
}